<div class="container">
  <h1>Welcome to Anagram Machine!</h1>
  
  <% if @results %>
  	<table>
  	<% @results.each do |obj| %>
  		<tr>
  			<td>
  				<%= obj.word %>
  			</td>
  		</tr>
  	<% end %>
  	</table>
  	<br>
  <% end %>

  <form action="/anagrams" method="post">
    Enter a word:
    <br>
    <input type="text" name="word">
    <input type="submit" value="Find Anagrams">
  </form>



</div>
